<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>runeb.io</title>
  </head>

  <body>
    {% for post in posts %}
      <div>
        <h1>{{post.title}}</h1>
        <p>
          {% portableText post.teaser %}
        </p>
        <a href="/posts/{{post.slug.current}}">Read more</a>
      </div>
    {% endfor %}
    <h1>runeb.io</h1>
    <p>
      I'm a developer working as solution architect at
      <a href="https://sanity.io">Sanity.io</a>
    </p>
  </body>
</html>
